{
  "__merge" : [],
  "defaultBlueprints" : 
  {
      "tier1" : 
	  [ 
	  
		{ "item" : "tonystarkhead" },
		{ "item" : "ironmancrafting" },
		{ "item" : "repulsorv0" },
		{ "item" : "repulsorv1" },
		{ "item" : "arcreactorchest" },
		{ "item" : "ironmanmk2legs" },
	    { "item" : "ironmanmk2chest" },
		{ "item" : "ironmanmk2head" },
		{ "item" : "ironmanmk4legs" },
	    { "item" : "ironmanmk4chest" },
		{ "item" : "ironmanmk4head" },
	    { "item" : "classicironmanmk2chest" },
		{ "item" : "classicironmanmk2head" },
		{ "item" : "classicironmanmk2legs" },
		{ "item" : "classicironmanmk6chest" },
		{ "item" : "classicironmanmk6head" },
		{ "item" : "classicironmanmk6legs" },
		{ "item" : "warmachineback" },
		{ "item" : "ironmanmk99legs" },
	    { "item" : "ironmanmk99chest" },
		{ "item" : "ironmanmk99head" },
		{ "item" : "ironmanbooster-chip"}
	  ]
  }
}
